<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/main.css">
  <script type="text/javascript" src="non_managed_components/payfirma/payfirma.minified.js"></script>
</head>
<body ng-app="FantasyNBA">
<script src="scripts/app.js"></script>
<div ng-controller="MainController">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Fantasy NBA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-show="isLoggedIn()">
      <ul class="nav navbar-nav">
        <li><a ui-sref="game.pickRoster">Game</a></li>
        <li><a ui-sref="deposit">Deposit</a></li>
        <li><a href="" ng-click="logout()">Logout</a></li>
        <li><a>User: {{getName()}}</a></li>
        <li><a>Balance: ${{getBalance()}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
<div ui-view=""></div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
