<div>

  <!-- your regular form follows -->
  <form name="creditCardForm" novalidate>
    <table width=518 border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="Paragraph-IndentBlack">
      <!--DWLayoutTable-->
      <div class="Paragraph-IndentBlack">

        <tr bgcolor="#E5E5E5">
          <td height="22" colspan="3" align="left" valign="middle"><strong>&nbsp;Credit Card (required)</strong>
          </td>
        </tr>
        <tr>
          <td height="22" align="right" valign="middle">Amount:</td>
          <td colspan="2" align="left">
            <input name="amountField" type="number" value="" size="16" maxlength="16"
                                              ng-model="amount" required>
          </td>
        </tr>
        <tr>
          <td height="22" align="right" valign="middle">Credit Card Number:</td>
          <td colspan="2" align="left">
            <input name="cardNumber" type="text" value="" size="16" ng-minlength="16" maxlength="16"
                                              ng-model="cardNumber" required/>
          </td>
        </tr>
        <tr>
          <td height="22" align="right" valign="middle">Expiry Date:</td>
          <td colspan="2" align="left">
            <select name="expiryMonth" ng-model="expiryMonth" ng-options="month.value as month.label for month in ::months" required>
            </select>
            /
            <select name="expiryYear" ng-model="expiryYear" ng-options="year.value as year.label for year in ::years" required>
            </select>
          </td>
        </tr>
        <tr>
          <td height="22" align="right" valign="middle">CVV:</td>
          <td colspan="2" align="left">
            <input name="cvv" type="text" value="" size="4" ng-minlength="3" maxlength="4" ng-model="cvv"
                                              required/>
          </td>
        </tr>
        <tr>
          <td height="22" colspan="3" align="left" valign="middle"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
      </div>
    </table>
  </form>
  <hr/>
  <div>
    <button tabindex="3" type="button" class="btn btn-primary" ng-click="deposit()" ng-disabled="isSubmitButtonDisabled()">
      Deposit
    </button>
  </div>
</div>
