<div>
  <div>
    <p>

    <h2>Rules:</h2></p>
    <p>Pick one center, two forwards, and two guards to complete your roster.</p>

    <p>The total score of a roster is calculated by adding the total points scored by each player on the roster.</p>

    <p>The user who has the best score wins the game.</p>

    <p>This should be a multi-player game, but to simplify the testing, the game is made into a simple single-user game
      by simply comparing the average total points of all players selected by user against the average total points of all players available.</p>

    <p>For example, a roster containing Lebron, Griffin, Cousins, Curry, and Westbrook should give you a winner because they are all high-scoring players while
    a team of Notwitzky, Griffin, Lopez, Paul, and Thompson will lose your money.</p>
  </div>
  <hr/>
  <div>
    <uib-tabset justified="true">
      <uib-tab heading="Center">
        <playerlist position="CENTER"/>
      </uib-tab>
      <uib-tab heading="Forward">
        <playerlist position="FORWARD"/>
      </uib-tab>
      <uib-tab heading="Guard">
        <playerlist position="GUARD"/>
      </uib-tab>
    </uib-tabset>
  </div>
  <hr/>
  <div>
    COST: $<input name="cost" type="number" value="" size="5" maxlength="5" ng-model="cost"
           required/>
  </div>
  <hr/>
  <div>
    <button tabindex="3" type="button" class="btn btn-primary" ng-click="submitRoster()">
      Submit Your Roster
    </button>
  </div>
</div>
