<div>
 <p>Congratulations, You just won ${{winAmount}}, the following is the complete roster that you have selected.</p>

  <div>
    <table>
      <tr ng-repeat="player in ::selectedPlayers">
        <td><img src="{{'images/players/'+player.id+'.png'}}" style="width: 135px;height:100px;"></td>
        <td width="150px">{{player.firstName+' '+player.lastName}}</td>
        <td>{{player.position}}</td>
      </tr>
    </table>
  </div>
</div>
