<table>
  <tr ng-repeat="player in allPlayers | filter : {position : positionFilter}">
    <td><img src="{{'images/players/'+player.id+'.png'}}" style="width: 135px;height:100px;"></td>
    <td width="220px">{{player.firstName+' '+player.lastName}}</td>
    <td width="150px">{{player.stats.totalPoints}}pts</td>
    <td><input type="checkbox" ng-model="player.selected"/></td>
  </tr>
</table>
