<div class="modal-header">
  <h3 class="modal-title">Confirmation</h3>
</div>
<div class="modal-body">
  <p>You deposit was successful.<br/>
    Click OK to pick your roster.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="goToPickRoster()">OK</button>
</div>
