<div class="modal-header">
  <h3 class="modal-title">Error</h3>
</div>
<div class="modal-body">
  <p>You need to enter a cost amount.<br/></p>
  <p>You need to pick one center, two guards, and two forwards to complete your roster.<br/></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">CLOSE</button>
</div>
